body
{
    background-color: silver;
}

#container
{

}

#nav
{
    margin-left: 94%;
    margin-top: 1%;
}

#logout
{

}

#shutdown
{
    
}

.nav-icon
{
    width: 20px;
    height: 20px;
    display: table-cell;
    vertical-align: middle;
}

#main
{

}

#stream
{

}

#text
{

}

#stream-box
{
    width: 720px;
    height: 480px;
}

#stream-nav
{

}

.nav-stream
{
    height: 36px;
    background-color: white;
}

.nav-stream:disabled
{
    background-color: lightgray;
}

.nav-stream-icon
{
    width: 20px;
    height: 20px;
    display: table-cell;
    vertical-align: middle;
}