body
{

}

#container
{

}

#main
{

}

#stream
{

}

#message
{

}

#stream-box
{
    width: 720px;
    height: 480px;
}

#stream-nav
{

}

.nav-stream
{
    height: 36px;
    background-color: white;
}

.nav-stream:disabled
{
    background-color: lightgray;
}

.icon-nav-stream
{
    width: 20px;
    height: 20px;
    display: table-cell;
    vertical-align: middle;
}